@tailwind base;
@tailwind components;
@tailwind utilities;

/*
:root {
  
}*/

@layer base {
	* {
		@apply box-border;
	}
	body {
		@apply bg-gray-700
		relative
		text-white;
	}
}

/* Root Layout */
@layer components {
	.root-layout {
		@apply border-red-600 border-solid border-4
		w-screen h-screen
		relative
		min-w-[400px]
		min-h-[600px]
		flex flex-col justify-center items-center;
	}

	.root-children {
		@apply border-green-300 border-solid border-4
		w-full h-full
		relative
		flex flex-col justify-center items-center;
	}
}

/* Home Layout */
@layer components {
	.home-container {
		@apply border-blue-500 border-solid border-4
		relative
		w-full h-full
		overflow-auto
		flex flex-col justify-start items-center;
	}

	/* Hero Styles */
	.hero-container {
		@apply border-orange-400 border-solid border-4
			flex flex-col justify-center items-start
			w-full h-screen min-h-[670px]
			relative
			p-5
			gap-2;
	}

	.hero-text {
		@apply border-red-400 border-solid border-2
			flex flex-col justify-center items-start
			w-full h-fit
			text-4xl
			md:text-6xl
			lg:text-7xl;
	}

	/* Section 02 */
	.home-02 {
		@apply border-solid border-4 border-red-600
			flex flex-col justify-center items-center
			w-full h-screen min-h-[670px]
			bg-gray-500
			relative
			gap-3;
	}

	.home-02-img-container {
		@apply border-solid border-2 border-green-500
		flex flex-col justify-center items-center
		w-full h-fit
		relative
		gap-3
		lg:flex-row;
	}

	.home-02-img {
		@apply border-solid border-4 border-white
		flex justify-center items-center
		w-[70%] h-[220px]
		relative
		lg:w-[35%]
		lg:h-[300px]
		xl:h-[350px]
		2xl:h-[400px];
	}

	.home-02-sm-text {
		@apply flex flex-col justify-center items-center
		text-center 
		w-[90%]
		sm:text-lg
		md:text-xl
		lg:text-2xl;
	}
}

/* NavBar */
@layer components {
	.nav-container {
		@apply /* border-blue-500 border-solid border-4 */
		fixed
		bg-black/40
		top-0
		w-full h-[70px] 
		p-4
		z-50
		flex flex-row justify-between items-center;
		backdrop-filter: blur(1px);
	}

	.nav-logo {
		@apply border-red-600 border-solid border-2
		relative
		w-[170px] h-[50px]
		flex justify-center items-center;
	}

	.nav-icon {
		@apply border-yellow-400 border-solid border-2
		w-[50px] h-[50px]
		relative
		p-2
		flex flex-col justify-center items-start
		gap-[4px];
	}
	.nav-icon-bar {
		@apply bg-white
		h-[4px]
		rounded-tl-xl
		rounded-br-xl;
	}

	/* Nav DropDown Styles */
	.nav-dd-closed {
		@apply border-solid border-red-700 border-2
		flex flex-col gap-2 justify-center items-center
		pointer-events-none
		fixed
		top-[-60px]
		w-full h-fit
		z-10
		opacity-0;
	}

	.nav-dd-open {
		@apply /* border-solid border-red-700 border-2 */
			flex flex-col gap-2 justify-center items-center
			bg-black/40
			fixed
			top-[70px]
			w-full h-fit
			z-10
			p-4
			rounded-b-md;
		backdrop-filter: blur(15px);
	}

	.nav-dd-choice {
		@apply border-b-[1px] border-white/50 border-solid
			flex justify-start items-center
			bg-transparent
			text-gray-300
			w-full h-fit
			py-1
			hover:p-2
			hover:bg-gray-500/20;
	}
}

/* Buttons */
@layer components {
	.btn-trns {
		@apply border-white/50 border-solid border-2
			flex justify-center items-center
			gap-1
			bg-gray-800/80
			rounded-lg
			p-3
			transition-all
			duration-500
			hover:gap-4
			hover:bg-gray-900/90;
	}
}

/* Lines */
@layer components {
	.h-line-white {
		@apply border-white border-solid border-b-2
		h-[2px];
	}
}
